name: Ansible
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4
        
      - name: "Run ansible-lint"
        uses: ansible-actions/ansible-lint-action@v1.1.0
        with:
          target: "./ansible"
        
