name: Ansible
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4
        
      - name: "Run ansible-lint"
        uses: ansible/ansible-lint@v25.11.0
        with:
          working_directory: "./ansible"
        
